<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <%- include('frame', {allCategories: allCategories}) %>
        <div class="contents">
        <div>
            <h2>Current state</h2>
            <h3>Name:<%= itemName %></h3>
            <table>
                <tr>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
                <tr>
                    <td><%= itemDetails[0].quantity %></td>
                    <td><%= itemDetails[0].price %></td>
                </tr>
            </table>
        </div>
        <form action="/update/item" method="post">
            <input type="hidden" name="oldName" value="<%= itemName %>">
            <label>Change name if required:
                <input type="text" name="newName">
            </label>
            <label>Change quantity if required:
                <input type="number" name="quantity">
            </label>
            <label>Change price if required:
                <input type="number" name="price">
            </label>
            <button type="submit">Save</button>
        </form>
        <form action="/">
            <button type="submit">Back to Home</button>
        </form>
        </div>
        <footer>There is absolutely no copyright</footer>
    </body>
</html>
